<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Lord</title>
</head>
<body>

<h1>Delete Lord</h1>
<!--<form th:action="@{/lord/deleteLord/}" th:method="POST">-->
<!--    <input type="text" th:field="${}" name="lordName" placeholder="Input Lord Name">-->
<!--    <button>Delete Lord</button>-->
<!--</form>-->

<p><a href="/mainPage">Main Page</a></p>
<p><a href="/lord/supremeLordPage">Supreme Lord Page</a></p>

</body>
</html>