<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShowPlanet</title>
</head>
<body>

<h1>Show Planet</h1>

<div>
    <p th:text="${chosenPlanet.name}"></p>
<!--    <p th:text="${chosenPlanet.getLord()}"></p>-->
    <p th:text="${chosenPlanet.id}"></p>
</div>


    <form method="post" th:action="@{/planets/assignLord/__${chosenPlanet.getId()}__}" th:object="${assignedLord}">
        <select th:field="*{id}">
<!--            <option th:value="Choose the Lord"/>-->
            <option th:each="lord : ${allLords}"
                    th:value="${lord.id}"
                    th:utext="${lord.getLordName}"/>
        </select>
        <input type="submit" value="Assign">
    </form>

<p><a href="/mainPage">Main Page</a></p>
<p><a href="/lords/supremeLordPage">Supreme Lord Page</a></p>

</body>
</html>